
^contentPage {
    background-color: darkseagreen;
    text-align: center;
}

.title {
    font-size: 30;
    text-align: center;
}

.menuButton {
    text-align: center;
    font-size: 35;
    margin-top: 20;
    height: 150;
}

.volgendeButton {
    text-align: center;
    font-size: 30;
    margin-top: 40;
}